body {
	font-family: 'Dancing Script', cursive;
}
p {
	font-family: 'Gloria Hallelujah', cursive;
	color: #7c35e8;
}
.profile-pic {
	max-width: 100%;
}
.profile-title {
	color: #35e88e; 
}
.present-progress {
	background-color: green
}

h1 {text-align: center
}
nav { 
	background-color: hotpink; 
	font-family: 'Archivo Black', sans-serif;
}
